@import "tailwindcss";

/* SIEMPRE MODO CLARO */
:root {
  /* Fuerza esquema claro, ignora el dark del sistema */
  color-scheme: light;
  --background: #f3f4f6; /* gris clarito tipo dashboard */
  --foreground: #0f172a; /* azul/gris oscuro elegante */
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
